{% extends "base.html" %}

{% block content %}

<a href="/Join-Blocky">
    <button>join us</button>
</a>

<h1>Blocky Builder</h1>

<h2>Why blocky builder is good for you</h2>

<div class="Block1">
    <ul>
        <li>Provides easy to use configuration options</li>
        <li>Gives you a test environment for simulating real scenarios</li>
        <li>Uses up to date database structures</li>
    </ul>
</div>

<div class="Block2">
    <ul>
        <li>Allows you to create a free account</li>
        <li>Gives you the ability to save your configurations</li>
        <li>Lets you share your configurations with others</li>
    </ul>
</div>

{% endblock %}