{% extends "base.html" %}

{% block content %}

<h1>Login to your blocky account</h1>

<form action="/send_login" method="POST">

    <input type="text" name="username" placeholder="Enter your username" minlength="3" maxlength="20" required>
    <input type="email" name="email" placeholder="Enter your email" minlength="3" maxlength="100" required>
    <input type="password" name="password" placeholder="Enter your password" minlength="6" maxlength="32" required>

    <button type="submit">Login</button>
    
    <p>Dont have an account yet? <a href="/Join-Blocky">Join us</a></p>

</form>

{% endblock %}