{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/signup.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}

<a href="/about">
    <button class="About">About</button>
</a>
<h2>Create an account</h2>
<form action="/send_signup" method="POST">

    <input type="text" name="username" placeholder="Create a username" minlength="3" maxlength="20" required>
    <input type="email" name="email" placeholder="Connect your email" minlength="3" maxlength="100" required>
    <input type="password" name="password" placeholder="Create a password" minlength="6" maxlength="32" required>

    <button type="submit">Create Account</button>
    
    <p>Already have an account? <a href="/login">Login</a></p>
</form>

{% endblock %}